.hmb-porfolio-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;

  .hmb-company-name {
    color: #ffffff;
    text-align: right;
  }
}

.hmb-portImages {
  height: 150px;
  box-shadow: 5px 5px 5px #00000047;
}

.hmb-imgContainer {
  width: 100%;
  text-align: center;

  .hmb-bottom-arrows {
    width: 100%;
    justify-content: center;
    display: flex;

    .hmb-buttons-container {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
  }
}

.hmb-imageDisplayContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  user-select: none;
  -webkit-user-select: none;

  .hmb-portImageDisplay {
    flex-direction: column;
    object-fit: cover;
    width: 100%;
    height: 81vh;
    object-fit: contain;

    &--small {
      @extend .hmb-portImageDisplay;
      max-height: 60vh;
      height: fit-content;
    }
  }

  .hmb-arrows {
    position: relative;
    font-size: 5em;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    transition: all 200ms ease-out;
    line-height: 50px;
    background: none;
    border: none;
    vertical-align: top;
    align-items: flex-start;
    height: 60px;
    padding: 0px;
    width: 39px;
  }

  .hmb-arrows:hover {
    filter: drop-shadow(2px 4px 6px black);
    color: var(--HMB-orange);
  }

  .hmb-arrows:active {
    color: var(--HMB-active-orange);
    filter: drop-shadow(4px 6px 8px black);
  }

  .hmb-arrows-bottom {
    position: relative;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    transition: all 200ms ease-out;
    line-height: 50px;
    background: none;
    border: none;
    vertical-align: top;
    align-items: center;
    height: 60px;
    padding: 0px;
    width: 39px;
    font-size: 2em !important;
  }

  .hmb-arrows-bottom:hover {
    filter: drop-shadow(2px 4px 6px black);
    color: var(--HMB-orange);
  }

  .hmb-arrows-bottom:active {
    color: var(--HMB-active-orange);
    filter: drop-shadow(4px 6px 8px black);
  }

  .hmb-left {
    justify-content: end;
  }

  .hmb-right {
    justify-content: start;
  }
}

.hmb-photoHalf {
  width: 50%;
  display: flex;
  justify-content: center;
}

.hmb-photoPlacer {
  display: grid;
  grid-template-columns: repeat(4, 10px [col-start]);
  width: 270px;
  background: none;
  border: none;
}

.hmb-infoContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0 5px;
}

.hmb-infoHalf {
  width: 50%;
  display: inline-block;
  padding: 0px;

  .hmb-lineHeader {
    font-weight: bold;
    border-bottom: 1px solid #ffffff;
  }
}

.hmb-infoDescript {
  padding-top: 10px;
}

.hmb-portImageContainer {
  display: flex;
  cursor: pointer;
}

.hmb-designedUsing {
  padding-bottom: 10px;
}

// 1300px or less
@media screen and (max-width: 1300px) {
  .hmb-infoHalf {
    width: 100%;
  }

  .hmb-photoHalf {
    width: 100%;
  }

  .hmb-photoPlacer {
    padding-left: 0px;
    padding-top: 10px;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    --bs-modal-width: 1000px !important;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    --bs-modal-width: 98%;
  }
}

@media screen and (max-width: 729px) {
  .hmb-panels {
    width: 100% !important;
  }
}

@media screen and (max-width: 575px) {
  .hmb-arrows {
    display: none !important;
  }

  .hmb-snapshots {
    .snapshot {
      width: 100px;
      transition: filter 1s;
    }
  }
}

@media screen and (max-width: 525px) {
  .hmb-panels {
    width: 100% !important;
  }
}