.portImages {
  height: 150px;
  box-shadow: 5px 5px 5px #00000047;
  //   max-width: 100%;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photoHalf {
  width: 50%;
  //   display: grid;
  grid-template-columns: calc(45vw - 300px) 35%;
  display: inline-block;
}

.photoPlacer {
  display: grid;
  grid-template-columns: repeat(4, 10px [col-start]);
  //   grid-column-start: 2;
  width: 100%;
}

.infoHalf {
  width: 50%;
  display: inline-block;
}

.portImageContainer {
  display: flex;
}

.portPanel {
  //   min-width: 735px;
}

// 1300px or less
@media screen and (max-width: 1300px) {
  .infoHalf {
    width: 100%;
  }
  .photoHalf {
    width: 100%;
  }

  .photoPlacer {
    padding-left: 0px;
    padding-top: 10px;
  }
}
