.portImages {
  height: 150px;
  box-shadow: 5px 5px 5px #00000047;
}
.imgContainer {
  width: 100%;
  text-align: center;
}
.imageDisplayContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  user-select: none;

  .portImageDisplay {
    // height: 60vh;
    box-shadow: 5px 5px 5px #00000047;
    flex-direction: column;
    object-fit: cover;
    width: 100%;
  }

  .arrowCoverLeft {
    position: relative;
    width: 15px;
    display: flex;
    justify-content: end;
  }

  .arrowCoverRight {
    position: relative;
    width: 15px;
    display: flex;
    justify-content: start;
  }

  .arrows {
    border-width: 30px;
    border-style: solid;
    flex-direction: column;

    content: '';
  }

  .left {
    border-color: transparent #ffffff transparent transparent;
    cursor: pointer;
    filter: brightness(0.65);
  }
  .left:hover {
    filter: brightness(1) drop-shadow(2px 4px 6px black);
  }

  .right {
    border-color: transparent transparent transparent #ffffff;
    cursor: pointer;
    filter: brightness(0.65);
  }
  .right:hover {
    filter: brightness(1) drop-shadow(2px 4px 6px black);
  }
}

.photoHalf {
  width: 50%;
  //   display: grid;
  grid-template-columns: calc(45vw - 300px) 35%;
  display: flex;
  justify-content: end;
}

.photoPlacer {
  display: grid;
  grid-template-columns: repeat(4, 10px [col-start]);
  width: 270px;
}

.infoContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.infoHalf {
  width: 50%;
  display: inline-block;
}

.infoDescript {
  padding-top: 10px;
}

.portImageContainer {
  display: flex;
  cursor: pointer;
}

// 1300px or less
@media screen and (max-width: 1300px) {
  .infoHalf {
    width: 100%;
  }
  .photoHalf {
    width: 100%;
    justify-content: center;
  }

  .photoPlacer {
    padding-left: 0px;
    padding-top: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .modal-lg,
  .modal-xl {
    --bs-modal-width: 1000px !important;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    --bs-modal-width: 98% !important;
  }
}

@media screen and (max-width: 729px) {
  .panels {
    width: 80% !important;
  }
}

@media screen and (max-width: 500px) {
  .panels {
    width: 100% !important;
  }
}
