.hmb-portImages {
  height: 150px;
  box-shadow: 5px 5px 5px #00000047;
}

.hmb-imgContainer {
  width: 100%;
  text-align: center;
}

.hmb-imageDisplayContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  user-select: none;

  .hmb-portImageDisplay {
    flex-direction: column;
    object-fit: cover;
    width: 100%;
    height: 81vh;
    object-fit: contain;

    &--small {
      @extend .hmb-portImageDisplay;
      max-height: 60vh;
    }
  }

  .hmb-arrows {
    position: relative;
    font-size: 5em;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    transition: all 200ms ease-out;
    line-height: 50px;
    background: none;
    border: none;
    vertical-align: top;
    align-items: flex-start;
    height: 60px;
    padding: 0px;
    width: 39px;
  }

  .hmb-arrows:hover {
    filter: drop-shadow(2px 4px 6px black);
    color: var(--HMB-orange);
  }

  .hmb-arrows:active {
    color: var(--HMB-active-orange);
    // text-shadow: 2px 2px 3px #012b40, 2px 2px 5px #000000;
    filter: drop-shadow(4px 6px 8px black);
  }

  .hmb-left {
    justify-content: end;
  }

  // .hmb-left:hover {
  //   filter: brightness(1) drop-shadow(2px 4px 6px black);
  // }

  .hmb-right {
    justify-content: start;
  }

  // .hmb-right:hover {
  //   filter: brightness(1) drop-shadow(2px 4px 6px black);
  // }
}

.hmb-photoHalf {
  width: 50%;
  //   display: grid;
  grid-template-columns: calc(45vw - 300px) 35%;
  display: flex;
  justify-content: end;
}

.hmb-photoPlacer {
  display: grid;
  grid-template-columns: repeat(4, 10px [col-start]);
  width: 270px;
}

.hmb-infoContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.hmb-infoHalf {
  width: 50%;
  display: inline-block;
  -webkit-text-stroke: 0.15px #ffffff;
}

.hmb-infoDescript {
  padding-top: 10px;
}

.hmb-portImageContainer {
  display: flex;
  cursor: pointer;
}

.hmb-panels {
  transition: width 0.5s;
}

// 1300px or less
@media screen and (max-width: 1300px) {
  .hmb-infoHalf {
    width: 100%;
  }

  .hmb-photoHalf {
    width: 100%;
    justify-content: center;
  }

  .hmb-photoPlacer {
    padding-left: 0px;
    padding-top: 10px;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    --bs-modal-width: 1000px !important;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    --bs-modal-width: 98%;
  }
}

@media screen and (max-width: 729px) {
  .hmb-panels {
    width: 100% !important;
  }
}

@media screen and (max-width: 525px) {
  .hmb-panels {
    width: 100% !important;
  }
}