.panels {
  width: 45% !important;
  margin-top: 0px !important;
}

.sectionTitle {
  width: 100%;
  border-bottom: 1px solid #ffffff;
  padding-left: 15px;
  padding-top: 15px;

  .sectionText {
    text-shadow: 2px 2px 5px #000000;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.25em;
    background-color: #0000004a;
    box-shadow: 0px 0px 10px 6px #0000004a;
    background-color: #005580;
    border: 1px solid #27bae9;
    padding: 2px 4px 3px 4px;
    border-bottom: 1px solid #ffffff;
  }
}

.dataRows {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.aboutPanels {
  @extend .panels;
}

#resume {
  .expRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    flex-wrap: nowrap;
  }
  .expColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // width: 49%;
  }

  .clients {
    border: 1px solid rgb(255 255 255 / 34%);
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(0 0 0 / 25%);

    .nameDescription {
      flex-wrap: nowrap;
      border-bottom: 0.75px solid #ffffff;
    }
  }
}

#experience {
  width: 100%;
}

#homePage {
  height: calc(100vh - 102px);
  padding-top: calc((100vh - 950px) / 2);
}

.homeTextStyle {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;

  .titleStyle {
    margin: 8px 0;
    transition: opacity 3s;
    font-size: 1.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 10px;
    flex-grow: 1;
    justify-content: center;
    padding: 0 10px;
    flex-wrap: wrap;

    .titleText {
      color: #ffffff;
      background-color: #000000c7;
      align-self: flex-end;
    }

    .boldText {
      color: #ffaf19;
      font-weight: bold;
      font-size: 1.5em;
      align-self: flex-end;
    }
  }

  .aboutStyle {
    transition: opacity 3s;
    display: flex;
    gap: 10px;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    .aboutContainer {
      border: 1px solid #ffffff70;
      padding: 20px;
      border-radius: 5px;
      font-size: 1.25em;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 40px;
      background-color: #000000c7;
      //   width: 50%;
    }
  }
}

@media screen and (max-width: 610px) {
  #resumeData {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    #resBP2,
    #resBP3,
    #resBP4,
    #resBP5,
    #resBP6,
    #resBP7,
    #resBP8 {
      width: 100% !important;
    }
  }
  #abSide {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    #abBP2,
    #abBP3,
    #abBP4,
    #abBP5 {
      width: 100% !important;
    }
  }
  .aboutPanels {
    width: 100% !important;
  }
}

// .bluePanelScroll {
//   //   max-height: calc(100vh - 165px);
//   //   height: 88%;
// }

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(39, 186, 233);
  border-radius: 10px;
  border: 1px solid #000000;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
