.hmb-panels {
  margin-top: 0px !important;
  width: 45% !important;
}

.hmb-sectionTitle {
  border-bottom: 1px solid #ffffff;
  padding-top: 15px;
  padding-left: 15px;
  width: 100%;

  .hmb-sectionText {
    box-shadow: 0px 0px 10px 6px #0000004a;
    border: 1px solid #27bae9;
    border-bottom: 1px solid #ffffff;
    background-color: #0000004a;
    background-color: #005580;
    padding: 2px 4px 3px 4px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.25em;
    text-shadow: 2px 2px 5px #000000;
  }
}

.hmb-dataRows {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hmb-aboutPanels {
  @extend .hmb-panels;
}

.hmb-whiteText {
  -webkit-text-stroke: 0.15px #ffffff;
  letter-spacing: 1.5px;
}

#hmb-resume {

  .experienceContainer {
    gap: 0px;
  }

  .hmb-expRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
  }

  .hmb-expColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .hmb-expRole {
    color: var(--HMB-orange);
    font-weight: 700;
    text-shadow: 1px 1px 1px #000000;
    text-transform: uppercase;
  }

  .hmb-clients {
    display: flex;
    flex-flow: column;
    border: 1px solid rgb(255 255 255 / 34%);
    border-radius: 5px;

    // margin-top: 15px;
    background-color: rgb(0 0 0 / 25%);
    padding: 10px;

    .hmb-nameDescription {
      flex-wrap: nowrap;
      border-bottom: 0.75px solid #ffffff;
    }
  }

  .hmb-bottomLine {
    border-bottom: 0.75px solid #ffffff;
  }
}

#hmb-homePage {
  padding-top: calc((100vh - 950px) / 2);
  height: calc(100vh - 102px);
}

.hmb-homeTextStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: calc(50vh * 0.03);

  .hmb-titleStyle {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    transition: opacity 1s;
    margin: 8px 0;
    padding: 0 10px;
    font-size: 1.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .hmb-titleText {
      align-self: flex-end;
      color: #ffffff;
      line-height: 1em;
    }

    .hmb-boldText {
      align-self: flex-end;
      color: var(--HMB-orange);
      font-weight: bold;
      font-size: 1.5em;
      line-height: 1em;
    }
  }
}

.hmb-aboutStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 86px;
  transition: opacity 1s;
  padding: 10px;
  width: 100%;

  .hmb-aboutContainer {
    margin: 0px;
    border: 1px solid #ffffff70;
    border-radius: 5px;
    background: var(--HB-blue-background);
    padding: 15px;
    max-width: 450px;
    min-height: 100px;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &--small {
      @extend .hmb-aboutContainer;
      max-height: 103px;
    }
  }
}

.hmb-connectPage {
  .hmb-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .hmb-blue {
    max-width: 700px;
  }

  .hmb-formLine {
    margin-bottom: 1rem;

    .hmb-formLabel {
      margin-bottom: 0.5rem;
    }

    .hmb-formInput {
      display: block;
      border: 1px solid rgb(255 255 255 / 34%);
      border-radius: 5px;
      background-color: rgb(0 0 0 / 25%);
      padding: 10px;
      width: 100%;
      color: #ffffff;
      font-size: 1rem;
    }

    .hmb-formInput::placeholder {
      color: #ffffffa2;
    }
  }
}

@media screen and (max-width: 1543px) {
  .hmb-aboutStyle {
    justify-content: left;
  }
}

@media screen and (max-width: 525px) {
  .hmb-aboutStyle {
    justify-content: center;
  }
}

@media screen and (max-width: 610px) {
  #hmb-resumeData {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    #resBP2,
    #resBP3,
    #resBP4,
    #resBP5,
    #resBP6,
    #resBP7,
    #resBP8 {
      width: 100% !important;
    }
  }

  #abSide {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    #abBP2,
    #abBP3,
    #abBP4,
    #abBP5 {
      width: 100% !important;
    }
  }

  .aboutPanels {
    width: 100% !important;
  }

  .hmb-dataRows {
    width: 100% !important;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: rgb(39, 186, 233);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}