.panels {
  width: 45% !important;
  margin-top: 0px !important;
}

.sectionTitle {
  width: 100%;
  border-bottom: 1px solid #ffffff;
  padding-left: 15px;
  padding-top: 15px;

  .sectionText {
    text-shadow: 2px 2px 5px #000000;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.25em;
    background-color: #0000004a;
    box-shadow: 0px 0px 10px 6px #0000004a;
    background-color: #005580;
    border: 1px solid #27bae9;
    padding: 2px 4px 3px 4px;
    border-bottom: 1px solid #ffffff;
  }
}

.dataRows {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.aboutPanels {
  @extend .panels;
}

.whiteText {
  -webkit-text-stroke: 0.15px #ffffff;
  letter-spacing: 1.5px;
}

#resume {
  .expRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: nowrap;
  }
  .expColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // width: 49%;
  }

  .experiencePanel {
    width: 49%;
  }

  .expRole {
    color: #ffaf19;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 1px 1px 1px #000000;
  }

  .clients {
    display: flex;
    flex-flow: column;
    padding: 10px;
    border: 1px solid rgb(255 255 255 / 34%);
    border-radius: 5px;

    // margin-top: 15px;
    background-color: rgb(0 0 0 / 25%);

    .nameDescription {
      flex-wrap: nowrap;
      border-bottom: 0.75px solid #ffffff;
    }
  }

  .bottomLine {
    border-bottom: 0.75px solid #ffffff;
  }
}

#experience {
  width: 100%;
}

#homePage {
  height: calc(100vh - 102px);
  padding-top: calc((100vh - 950px) / 2);
}

.homeTextStyle {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  margin-bottom: calc(50vh * 0.03);

  .titleStyle {
    margin: 8px 0;
    transition: opacity 1s;
    font-size: 1.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 10px;
    flex-grow: 1;
    justify-content: center;
    padding: 0 10px;
    flex-wrap: wrap;

    .titleText {
      color: #ffffff;
      // background-color: #000000c7;
      align-self: flex-end;
      line-height: 1em;
    }

    .boldText {
      color: #ffaf19;
      font-weight: bold;
      font-size: 1.5em;
      align-self: flex-end;
      line-height: 1em;
    }
  }
}

.aboutStyle {
  transition: opacity 1s;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 86px;
  padding: 10px;

  .aboutContainer {
    border: 1px solid #ffffff70;
    padding: 15px;
    border-radius: 5px;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    background: linear-gradient(-45deg, rgb(0, 32, 48, 0.75), rgba(0, 92, 138, 0.75) 40%, rgba(0, 88, 133, 0.75) 65%, rgba(0, 32, 48, 0.75));
    min-height: 100px;
    max-width: 450px;

    &--small {
      @extend .aboutContainer;
      max-height: 103px;
    }
  }
}

.connectPage {
  .container {
    display: flex;
    justify-content: center;
  }

  .blue {
    max-width: 700px;
  }

  .formLine {
    margin-bottom: 1rem;

    .formLabel {
      margin-bottom: 0.5rem;
    }
    .formInput {
      display: block;
      font-size: 1rem;
      border: 1px solid rgb(255 255 255 / 34%);
      border-radius: 5px;
      padding: 10px;
      background-color: rgb(0 0 0 / 25%);
      color: #ffffff;
      width: 100%;
    }
    .formInput::placeholder {
      color: #ffffffa2;
    }
    .errorInput {
      color: #ffaf19;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 1543px) {
  .aboutStyle {
    justify-content: left;
  }
}

@media screen and (max-width: 525px) {
  .aboutStyle {
    justify-content: center;
  }
}

@media screen and (max-width: 1297px) {
  .aboutStyle {
    .aboutContainer {
      // Change opacity so it's visible ontop of the city
      background: linear-gradient(-45deg, rgb(0, 32, 48, 0.9), rgba(0, 92, 138, 0.9) 40%, rgba(0, 88, 133, 0.9) 65%, rgba(0, 32, 48, 0.9)) !important;
    }
  }
}

@media screen and (max-width: 610px) {
  #resumeData {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    #resBP2,
    #resBP3,
    #resBP4,
    #resBP5,
    #resBP6,
    #resBP7,
    #resBP8 {
      width: 100% !important;
    }
  }
  #abSide {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    #abBP2,
    #abBP3,
    #abBP4,
    #abBP5 {
      width: 100% !important;
    }
  }
  .aboutPanels {
    width: 100% !important;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(39, 186, 233);
  border-radius: 10px;
  border: 1px solid #000000;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
