.panels {
  width: 45% !important;
  margin-top: 0px !important;
}

.pages {
  min-height: calc(87.6vh);
}

#sectionTitle {
  width: 100%;
  border-bottom: 1px solid #ffffff;
  padding-left: 15px;

  #sectionText {
    text-shadow: 2px 2px 5px #000000;
    font-weight: bold;
    color: #ffaf19;
    font-size: 1.25em;
    background-color: #00000078;
    padding: 1px 2px;
  }
}

.dataRows {
  display: flex;
  gap: 15px;
  flex-direction: row;
}

.expColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 49%;
}

#experience {
  width: 100%;
}

.homeTextStyle {
  flex-wrap: wrap;
  margin-top: 21px;
  display: flex;
  justify-content: space-around;

  .titleStyle {
    margin: 8px 0;
    transition: opacity 3s;
    font-size: 1.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 10px;
    flex-grow: 1;
    justify-content: center;
    padding: 0 10px;
    flex-wrap: wrap;

    .titleText {
      color: #ffffff;
      background-color: #000000c7;
    }

    .boldText {
      color: #ffaf19;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 610px) {
  #resumeData {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    #resBP2,
    #resBP3,
    #resBP4,
    #resBP5,
    #resBP6,
    #resBP7,
    #resBP8 {
      width: 100% !important;
    }
  }
  #abSide {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    #abBP2,
    #abBP3,
    #abBP4,
    #abBP5 {
      width: 100% !important;
    }
  }
}

.bluePanelScroll {
  //   max-height: calc(100vh - 165px);
  //   height: 88%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(39, 186, 233);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
