.hmb-panels {
  margin-top: 0px !important;
  width: 45% !important;
}

.hmb-sectionTitle {
  border-bottom: 1px solid #ffffff;
  padding-top: 15px;
  padding-left: 15px;
  width: 100%;

  .hmb-sectionText {
    box-shadow: 0px 0px 10px 6px #0000004a;
    border: 1px solid #27bae9;
    background-color: #005580;
    padding: 2px 4px 3px 4px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.25rem;
    text-shadow: 2px 2px 5px #000000;
    border-radius: 5px 5px 0px 0px;
    letter-spacing: 1px;
    position: relative;
    bottom: 1px;
  }
}

.hmb-dataRows {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hmb-aboutPage {
  .hmb-aboutPanels {
    @extend .hmb-panels;
  }
}

.hmb-collapsibleHolder {
  display: flex;
  width: 100%;
}

$textShadow: rgb(50, 50, 50);

.hmb-whiteText {
  letter-spacing: 1px;
  text-shadow: 0.5px 0.5px 1px $textShadow, -0.5px -0.5px 1px $textShadow, 0.5px -0.5px 1px $textShadow, -0.5px 0.5px 1px $textShadow;
  color: #ffffff;
  // line-height: 1.395;
  font-size: 1.05rem;
}

#hmb-resume {
  .experienceContainer {
    gap: 0px;
  }

  .hmb-expRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .hmb-expColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .hmb-expRole {
    color: var(--HMB-orange);
    font-weight: 700;
    text-shadow: 1px 1px 1px #000000;
    text-transform: uppercase;
    padding-right: 10px;
  }

  .hmb-companies {
    display: flex;
    flex-flow: column;
    border: 1px solid rgb(255 255 255 / 34%);
    border-radius: 5px;

    background-color: rgb(0 0 0 / 30%);
    padding: 10px;

    .hmb-nameDescription {
      flex-wrap: nowrap;
    }

    .hmb-clients {
      margin-top: 15px;
    }
  }

  .hmb-bottomLine {
    border-bottom: 0.75px solid #ffffff6e;
  }

  #hmb-resume-switch {
    z-index: 12;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    position: relative;
    padding-top: 0px;
    min-height: 50px;
    cursor: pointer;
    font-weight: 600;
  }

  .hmb-educationLine {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 7px 10px 7px;

    .hmb-eduMajor {
      color: #ffffff;
      font-weight: 700;
      font-size: 1em;
      text-shadow: 1px 1px 1px #000000;
    }
  }
}

#hmb-homePage {
  padding-top: calc((100vh - 875px) / 2);
  height: calc(100vh - 102px);

  .hmb-homeTextStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: calc(50vh * 0.03);

    .hmb-titleStyle {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      transition: opacity 1s;
      margin: 8px 0;
      padding: 0 10px;
      font-size: 1.9em;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

      .hmb-titleText {
        align-self: flex-end;
        color: #ffffff;
        line-height: 1em;
        text-shadow: 1px 0px 3px #000000, -1px 0px 3px #000000,
          0px 1px 3px #000000, 0px -1px 3px #000000;
      }

      .hmb-boldText {
        align-self: flex-end;
        color: var(--HMB-orange);
        font-weight: bold;
        font-size: 1.5em;
        line-height: 1em;
        text-shadow: 1px 0px 3px #000000, -1px 0px 3px #000000,
          0px 1px 3px #000000, 0px -1px 3px #000000;
      }
    }
  }

  #hmb-aboutStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 25px;
    transition: opacity 1s;
    padding: 10px;
    padding-top: 55px;
    width: 100%;

    #hmb-aboutLeft {
      width: 45%;
      display: flex;
      justify-content: flex-start;

      .hmb-aboutSpacer {
        width: 50%;
        display: flex;
        justify-content: center;
      }
    }

    #hmb-aboutRight {
      width: 45%;
      display: flex;
      justify-content: flex-end;

      .hmb-aboutSpacer {
        width: 50%;
        display: flex;
        justify-content: center;
      }
    }

    .hmb-aboutContainer {
      margin: 0px;
      border-radius: 5px;
      padding: 15px;
      max-width: 300px;
      min-width: 300px;
      min-height: 100px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
}

.hmb-connectPage {
  .hmb-connect {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  #hmb-blue-connect {
    max-width: 430px;
  }

  .hmb-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .hmb-blue {
    max-width: 700px;
  }

  .hmb-formLine {
    margin-top: 1rem;

    .hmb-formLabel {
      margin-bottom: 0.5rem;
    }

    .hmb-formInput {
      display: block;
      border: 1px solid rgb(255 255 255 / 34%);
      border-radius: 5px;
      background-color: rgb(0 0 0 / 25%);
      padding: 10px;
      width: 100%;
      color: #ffffff;
      font-size: 1rem;
    }

    .hmb-formInput::placeholder {
      color: #ffffffa2;
    }
  }
}

@media screen and (max-width: 1322px) {
  #hmb-aboutStyle {
    padding-top: 0px !important;
    margin-top: -7px;
  }
}

@media screen and (max-width: 730px) {
  #dateSpacer {
    display: none;
  }

  .hmb-aboutPage {
    .hmb-aboutPanels {
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 675px) {
  #hmb-aboutLeft {
    width: 100% !important;
    justify-content: center !important;
  }

  #hmb-aboutRight {
    width: 100% !important;
    justify-content: center !important;
  }
}

@media screen and (max-width: 610px) {
  #hmb-resumeData {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    #resBP2,
    #resBP3,
    #resBP4,
    #resBP5,
    #resBP6,
    #resBP7,
    #resBP8 {
      width: 100% !important;
    }
  }

  #abSide {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    #abBP2,
    #abBP3,
    #abBP4,
    #abBP5 {
      width: 100% !important;
    }
  }




  .hmb-dataRows {
    width: 100% !important;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: rgb(39, 186, 233);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}