.panels {
  width: 45% !important;
  margin-top: 0px !important;
}

#sectionTitle {
  width: 100%;
  border-bottom: 1px solid #ffffff;
  padding-left: 15px;

  #sectionText {
    text-shadow: 2px 2px 5px #000000;
    font-weight: bold;
    color: #ffaf19;
    font-size: 1.25em;
  }
}

.dataRows {
  display: flex;
  gap: 15px;
  flex-direction: row;
}

.expColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 49%;
}

#experience {
  width: 100%;
}

@media screen and (max-width: 610px) {
  #resumeData {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    #resBP2,
    #resBP3,
    #resBP4,
    #resBP5,
    #resBP6,
    #resBP7,
    #resBP8 {
      width: 100% !important;
    }
  }
  #abSide {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    #abBP2,
    #abBP3,
    #abBP4,
    #abBP5 {
      width: 100% !important;
    }
  }
}

.bluePanelScroll {
  max-height: calc(100vh - 165px);
  //   height: 88%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(39, 186, 233);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
