.hmb-flexContainer {
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding: 1.5%;
  align-content: flex-start;
  gap: 20px;
  align-items: flex-start;
}

.hmb-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hmb-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.hmb-unorderedList {
  padding-top: 10px;
  padding-bottom: 10px;
}

.hmb-list {
  @extend .hmb-row;
  display: list-item;
}

.hmb-sectionHeader {
  color: var(--HMB-orange);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5rem;
  font-size: 1.063rem;
  letter-spacing: 1.5px;
  text-shadow: var(--HMB-text-shadow);
}

.hmb-sectionHeader-Line {
  @extend .hmb-sectionHeader;
  border-bottom: 1px solid #ffffff;
  box-shadow: 0px 8px 11px -8px #000000;
  margin-bottom: 16px;
}