.hmb-flexContainer {
  color: #ffffff;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding: 20px;
  align-content: flex-start;
  gap: 20px;
  align-items: flex-start;
}

.hmb-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hmb-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.hmb-sectionHeader {
  color: var(--HMB-orange);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 16px;
}

.hmb-sectionHeader-Line {
  @extend .hmb-sectionHeader;
  border-bottom: 1px solid #ffffff;
  box-shadow: 0px 8px 11px -8px #000000;
  text-shadow: 1px 1px 1px #000000;
}
