#background {
  position: relative;
  display: flex;
  max-width: 1782px;
  height: 100vh;
}

#space {
  position: relative;
  margin-top: -72px;
  display: flex;
}

#cityContainer {
  position: relative;
  min-height: 633px;
  min-width: 1102px;
  width: 100vw;
  //   border-bottom: 2px solid rgb(39, 186, 233);
  align-self: flex-end;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  //   z-index: 2;
}

#city {
  display: block;
  max-height: 786px;
  filter: brightness(1.25) contrast(1.1);
}

// 1300px or less
@media screen and (max-width: 1500px) {
  #background {
    // margin-left: calc((1290px - 100vw) / 2 * -1);
  }
}
