/* Reset */


.hmb-logoNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 340px;
  height: 98px;
  line-height: 26px;

  #hmb-logo {
    transition: width 200ms;
    width: 69px;
  }

  #hmb-text {
    text-align: left;
  }
}

#hmb-headerCanvas {
  transition: opacity 5000ms ease-in;
  transition: height 150ms ease-in;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(39, 186, 233);
}

#hmb-header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  height: 75px;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px 0.5rem;
  position: absolute;
  text-align: center;
  top: 0;
  transition-behavior: normal;
  transition-delay: 0s;
  transition: height 250ms;
  width: 100%;
  z-index: 3;

  #hmb-header-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 calc(1.5rem * .5);
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
  }

  .hmb-info-icon {
    position: relative;
    margin-top: 10px;
    border-right: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-radius: 15px;
    background-color: #00000000;
    height: 20px;
    color: #ffffff;
    font-size: 1.25rem;
    line-height: 10px;

    .hmb-tooltiptext {
      position: absolute;
      top: -5px;
      right: 30px;
      visibility: hidden;
      opacity: 0;
      z-index: 1;
      border-radius: 6px;
      background-color: rgba(0, 92, 138);
      padding: 7px;
      width: 150px;
      color: #ffffff;
      font-size: 1rem;
      text-align: center;
      transition: opacity 200ms ease-out;
    }
  }

  .hmb-info-icon:hover {
    border-right: 2px solid var(--HMB-orange);
    border-left: 2px solid var(--HMB-orange);
    color: var(--HMB-orange);
  }

  .hmb-info-icon:hover .hmb-tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .hmb-info-icon .hmb-tooltiptext::after {
    position: absolute;
    top: 40%;
    left: 100%;
    margin-top: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(0, 92, 138);
    content: '';
  }

  .hmb-headerNavigation {
    display: flex;
    z-index: 1;
    transition: height 250ms;
    width: 100%;

    .hmb-headerButtonsRow {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      width: 95%;
      text-align: center;
    }

    .HMB-column {
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0px;
    }

    a {
      transition:
        margin-top 225ms ease-in,
        font-size 225ms ease-in,
        color 300ms ease-in;
    }

    #hmb-dropDownMenu {
      padding-right: 20px;

      #hmb-menuBars {
        display: flex;
        top: 53px;
        justify-content: center;
        float: right;
        z-index: 10;
        transition: all 200ms linear;
        cursor: pointer;
        font-size: 1.75em;
      }

      #hmb-menuBars:hover {
        color: var(--HMB-orange);
      }

      #hmb-menuBars:active {
        transition: color 100ms linear;
      }

      #hmb-dropDownContainer {
        position: absolute;
        right: 0px;
        z-index: 4;
        transition: height 200ms linear;
        width: 200px;
        overflow: hidden;

        #hmb-dropDown {
          position: absolute;
          right: 25px;
          bottom: 7px;
          z-index: 10;
          transition: top 750ms ease-in;
          box-shadow: 0px 4px 8px #000000;
          border: 1px solid rgb(39, 186, 233);
          border-radius: 5px;
          background: var(--HB-blue-background);
          padding: 10px;
          width: 125px;
          min-height: 178px;
          text-align: right;
          display: flex;
          flex-flow: column;
          gap: 10px;

          .hmb-linkContainer {
            .hmb-menuBarNavigation {
              cursor: pointer;
              color: #ffffff;
              // font-weight: bold;
              font-size: 1em;
              line-height: 150%;
              letter-spacing: 2px;
              text-align: right;
              text-decoration: none;
              text-shadow: 1px 1px 1px #000000;
            }

            .hmb-menuBarNavigation:hover {
              color: var(--HMB-orange);
            }
          }
        }
      }
    }
  }

  .hmb-headerButtonContainer a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 0.05em;
    background-color: #ffffff;
    transition: width 300ms ease-out;
    transform: translate(-50%, 0);
  }

  .hmb-headerButtonContainer:hover a:hover {
    transition:
      font-size 225ms ease-in,
      letter-spacing 225ms ease-in;
    font-size: 1.4rem;


    letter-spacing: 3px;
  }

  .hmb-headerButtonContainer:hover a::after {
    transition: width 300ms ease-out;
    width: 85%;
  }

  canvas {
    position: absolute !important;
  }

  img {
    cursor: pointer;
  }
}

.hmb-headerButtonContainer {
  display: flex;
  position: relative;
  bottom: 0;
  flex: 1;
  z-index: 1;
  background-size: cover;
  padding-right: calc(var(--bs-gutter-x) * 0.25);
  padding-left: calc(var(--bs-gutter-x) * 0.25);
  height: 96%;
  max-height: 96px;
  margin: 0 auto;
  text-align: center;
}

.hmb-navLink {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 1;
  transition: line-height 200ms linear;
  margin: 0px;
  background: none;
  padding: 0 4px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-weight: 200;
  font-size: 1.15em;
  line-height: 96px;
  letter-spacing: 2px;
  text-decoration: none;
  transition: color 3s ease-out;
}

.hmb-linkBox {
  height: 18px;
  align-self: flex-end;
  line-height: 15px;
}

.hmb-navLinkActive {
  @extend .hmb-navLink;
  color: var(--HMB-orange);
  font-size: 1.4rem;
  text-shadow: 0 1px 5px #000000;
  text-decoration: none;
  transition: color 3s ease-out;
  letter-spacing: 3px;
}

.hmb-navLinkActive::after {
  width: 85% !important;
  transform: scale(1);
  opacity: 1 !important;
}

a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

a:hover::after {
  transform: scale(1)
}

.navLinkIcon {
  @extend .navLink;
}

.hmb-headerButtonContainer:hover .navLink {
  text-shadow: 0 3px 8px #000000;
}

#HBIcon {
  display: none;
  margin-left: 14px;
  padding-top: 7px;
  height: 84px;
}

#HBLogo {
  display: inline-block;
}

/* Less than or equal to 1000px */
@media screen and (max-width: 850px) {
  .hmb-headerButtonsRow {
    display: none !important;
  }

  #hmb-menuBars {
    display: flex;
  }

  .hmb-headerNavigation {
    justify-content: flex-end !important;
  }
}

/* Greater than or equal to 1000px */
@media screen and (min-width: 850px) {
  #hmb-dropDownMenu {
    display: none;
  }
}

/* LOGO - Less than or equal to 975px */
@media screen and (max-width: 975px) {
  #HBIcon {
    display: inline-block;
  }

  #HBLogo {
    display: none;
  }

  #HBContainer {
    max-width: 100px;
  }
}