.hmb-logoNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  height: 98px;
  line-height: 26px;
  width: 340px;

  #hmb-logo {
    width: 69px;
    transition: width 200ms;
  }

  #hmb-text {
    text-align: left;
  }
}

#hmb-headerCanvas {
  border-bottom-color: rgb(39, 186, 233);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  transition: opacity 5000ms ease-in;
  transition: height 150ms ease-in;
}

.hmb-header {
  height: 75px;
  padding: 0;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  top: 0;
  z-index: 3;
  margin: 0px;
  width: 100%;
  transition: height 250ms;

  .hmb-info-icon {
    background-color: #00000000;
    color: #ffffff;
    height: 20px;
    line-height: 10px;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-radius: 15px;
    font-size: 1.25rem;
    margin-top: 10px;
    position: relative;

    .hmb-tooltiptext {
      visibility: hidden;
      width: 150px;
      background-color: rgba(0, 92, 138);
      color: #ffffff;
      text-align: center;
      padding: 7px;
      border-radius: 6px;
      // border: 1px solid rgb(39, 186, 233);
      // border-right: 2px solid rgb(39, 186, 233);
      top: -5px;
      right: 30px;
      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
      font-size: 1rem;
    }
  }

  .hmb-info-icon:hover {
    color: var(--HMB-orange);
    border-left: 2px solid var(--HMB-orange);
    border-right: 2px solid var(--HMB-orange);
  }

  .hmb-info-icon:hover .hmb-tooltiptext {
    visibility: visible;
  }
  .hmb-info-icon .hmb-tooltiptext::after {
    content: '';
    position: absolute;
    top: 40%;
    left: 100%;
    margin-top: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(0, 92, 138);
  }

  .hmb-headerNavigation {
    z-index: 1;
    width: 100%;
    display: flex;
    transition: height 250ms;

    .hmb-headerButtonsRow {
      display: flex;
      flex-wrap: nowrap;
      text-align: center;
      height: 96px;
      width: 95%;
      justify-content: space-around;
      flex-direction: row;
    }

    a {
      transition:
        margin-top 225ms ease-in,
        font-size 225ms ease-in;
    }

    #hmb-dropDownMenu {
      padding-right: 20px;
      //   margin-top: 20px;

      #hmb-menuBars {
        display: flex;
        float: right;
        transition: all 200ms linear;
        justify-content: center;
        cursor: pointer;
        z-index: 10;
        top: 53px;
        font-size: 1.75em;
      }

      #hmb-menuBars:hover {
        color: var(--HMB-orange);
      }

      #hmb-menuBars:active {
        transition: color 100ms linear;
      }

      #hmb-dropDownContainer {
        position: absolute;
        right: 0px;
        width: 200px;
        overflow: hidden;
        transition: height 200ms linear;
        z-index: 4;

        #hmb-dropDown {
          position: absolute;
          bottom: 7px;
          text-align: right;
          right: 25px;
          z-index: 10;
          background: linear-gradient(-45deg, rgb(0, 32, 48), rgba(0, 92, 138, 0.95) 40%, rgba(0, 88, 133, 0.95) 65%, rgba(0, 32, 48, 0.95));
          border: 1px solid rgb(39, 186, 233);
          border-radius: 5px;
          min-height: 178px;
          transition: top 750ms ease-in;
          width: 155px;
          padding: 0 10px 0 0;
          box-shadow: 0px 4px 8px #000000;

          .hmb-linkContainer {
            .hmb-menuBarNavigation {
              font-size: 1em;
              text-decoration: none;
              text-align: right;
              color: #ffffff;
              letter-spacing: 2px;
              cursor: pointer;
              font-weight: bold;
              line-height: 150%;
            }

            .hmb-menuBarNavigation:hover {
              color: var(--HMB-orange);
            }
          }
        }
      }
    }
  }
  .hmb-headerNavigation .hmb-headerButtonsRow a:hover {
    margin-top: -7px;
    font-size: 1.45rem;
    transition:
      margin-top 225ms ease-in,
      font-size 225ms ease-in;
  }
  canvas {
    position: absolute !important;
  }

  img {
    cursor: pointer;
  }
}

// $bs-gutter-x: 1.5rem;

.hmb-headerButtonContainer {
  // cursor: pointer;
  flex: 1;
  background-size: cover;
  position: relative;
  height: 96%;
  bottom: 0;
  z-index: 1;
  text-align: center;
  max-height: 96px;
  display: flex;
  padding-left: calc(var(--bs-gutter-x) * 0.25);
  padding-right: calc(var(--bs-gutter-x) * 0.25);
}

.navLink {
  background: none;
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 96px;
  transition: line-height 200ms linear;
  padding: 0 4px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.navLinkActive {
  @extend .navLink;
  color: var(--HMB-orange);
  text-shadow: 0 1px 5px #000000;
  margin-top: -7px;
  font-size: 1.45rem;
}

.navLinkIcon {
  @extend .navLink;
}

.hmb-headerButtonContainer:hover .navLink {
  //   color: #ffffff !important;
  //   line-height: 110px;
  text-shadow: 0 3px 8px #000000;
}

#HBIcon {
  display: none;
  margin-left: 14px;
  padding-top: 7px;
  height: 84px;
}

#HBLogo {
  display: inline-block;
}

/* Less than or equal to 1000px */
@media screen and (max-width: 850px) {
  .hmb-headerButtonsRow {
    display: none !important;
  }

  #hmb-menuBars {
    display: flex;
  }

  .hmb-headerNavigation {
    justify-content: flex-end !important;
  }
}

/* Greater than or equal to 1000px */
@media screen and (min-width: 850px) {
  #hmb-dropDownMenu {
    display: none;
  }

  //   .hmb-headerButtonsRow {
  //     display: flex;
  //   }
}

/* LOGO - Less than or equal to 975px */
@media screen and (max-width: 975px) {
  #HBIcon {
    display: inline-block;
  }

  #HBLogo {
    display: none;
  }

  #HBContainer {
    max-width: 100px;
  }
}
