a {
  color: #ffffff;
}

.hmb-logoNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 98px;
  line-height: 26px;

  #hmb-logo {
    transition: width 200ms;
    max-width: 65px;
  }

  #hmb-text {
    text-align: left;
    width: 80%;
    max-width: 260px;

    #hmb-name {
      width: 100%;
      max-width: 260px;
    }

    #hmb-position {
      width: 100%;
      max-width: 260px;
    }
  }
}

#hmb-headerCanvas {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(39, 186, 233);
}

#hmb-header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px 0.5rem;
  position: absolute;
  top: 0;
  transition: height 75ms;
  width: 100%;
  z-index: 3;

  #hmb-header-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 calc(1.5rem * .5);
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #00000096;
    height: 100%;
  }

  .hmb-info-icon {
    position: relative;
    margin-top: 10px;
    border-right: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-radius: 15px;
    border-top: none;
    border-bottom: none;
    background-color: #00000000;
    height: 20px;
    color: #ffffff;
    font-size: 1.25rem;
    line-height: 10px;

    .hmb-tooltiptext {
      position: absolute;
      top: -7px;
      right: 20px;
      visibility: hidden;
      color: #ffffff;
      opacity: 0;
      z-index: 1;
      border-radius: 7px;
      background: var(--HMB-blue-background);
      border: 4px solid rgb(0, 31, 84);
      padding: 9px;
      width: 150px;
      font-size: 1rem;
      text-align: center;
    }
  }

  .hmb-info-icon:hover {
    border-right: 2px solid var(--HMB-orange);
    border-left: 2px solid var(--HMB-orange);
    color: var(--HMB-orange);
  }

  .hmb-info-icon:hover .hmb-tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .hmb-info-icon:active {
    color: var(--HMB-active-orange);
    border-right: 2px solid var(--HMB-active-orange);
    border-left: 2px solid var(--HMB-active-orange);
  }

  .hmb-tooltiptext:after {
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    box-shadow: inset 0 0 2px 1px rgb(39, 186, 233), 0 0 3px 0 rgb(39, 186, 233);
    border: 1px solid rgb(39, 186, 233);
    border-radius: 5px;
    pointer-events: none;
    content: '';
  }

  .hmb-headerNavigation {
    display: flex;
    z-index: 1;
    transition: height 75ms;
    width: 100%;
    padding-right: 5px;

    .hmb-headerButtonsRow {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      width: 95%;
    }

    .HMB-column {
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0px;
      justify-content: center;
    }

    a {
      transition:
        margin-top 225ms ease-in,
        font-size 225ms ease-in,
        color 300ms ease-in;
    }

    #hmb-dropDownMenu {
      padding-right: 20px;

      #hmb-menuBars {
        display: flex;
        top: 53px;
        justify-content: center;
        float: right;
        z-index: 10;
        transition: all .15s linear;
        cursor: pointer;
        font-size: 1.75em;
      }

      #hmb-menuBars:hover {
        color: var(--HMB-orange);
      }

      #hmb-menuBars:active {
        transition: color 100ms linear;
      }

      .hmb-menuBarsClicked {
        color: var(--HMB-orange);
      }

      #hmb-dropDownContainer {
        position: absolute;
        right: 0px;
        z-index: 4;
        width: 200px;
        overflow: hidden;

        #hmb-dropDown {
          position: absolute;
          right: 46px;
          bottom: 9px;
          z-index: 10;
          box-shadow: 0px 4px 8px #000000;
          border: 2px solid rgb(39, 186, 233);
          border-radius: 5px;
          background: #212529;
          padding: 10px;
          width: 125px;
          min-height: 178px;
          text-align: right;
          display: flex;
          flex-flow: column;
          gap: 10px;

          .hmb-linkContainer {
            .hmb-menuBarNavigation {
              cursor: pointer;
              color: #ffffff;
              font-size: 1em;
              line-height: 150%;
              letter-spacing: 2px;
              text-align: left;
              text-decoration: none;
              text-shadow: var(--HMB-text-shadow);
              width: 100%;
              display: block;
              padding-left: 4px;
            }

            .hmb-menuBarNavigation-hover:hover {
              text-decoration: underline;
            }

            .hmb-menuBarNavigation-selected {
              background-color: #eda110;
              font-weight: bold;
              text-shadow: 1px 1px 1px #000000;
            }
          }
        }
      }
    }
  }

  .hmb-headerButtonContainer a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 0.05em;
    background-color: #ffffff;
    transition: width 300ms ease-out;
    transform: translate(-50%, 0);
  }

  // selected and hovered
  .hmb-headerButtonContainer:hover a:hover {
    transition:
      font-size 225ms ease-in,
      letter-spacing 225ms ease-in;
    font-size: 1.3rem;
    letter-spacing: 3px;
  }

  .hmb-headerButtonContainer:hover a::after {
    transition: width 300ms ease-out;
    width: 85%;
  }

  canvas {
    position: absolute !important;
  }

  img {
    cursor: pointer;
  }
}

.hmb-headerButtonContainer {
  display: flex;
  bottom: 0;
  z-index: 1;
  background-size: cover;
  height: 96%;
  max-height: 96px;
  text-align: center;
}

.hmb-linkBox {
  height: 18px;
  align-self: flex-end;
  line-height: 15px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5)
}

#hmb-logoNavLink {
  max-width: 350px !important;
  min-width: 350px !important;
}

.hmb-navLink {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 1;
  margin: 0px;
  background: none;
  padding: 0 4px;
  width: 100%;
  font-weight: 200;
  font-size: 1.15em;
  letter-spacing: 2px;
  text-decoration: none;
  transition: color 50ms ease-out;
}

.hmb-navLinkActive {
  @extend .hmb-navLink;
  color: var(--HMB-orange);
  font-size: 1.3rem;
  text-shadow: 0 1px 5px #000000;
  text-decoration: none;
  transition: color 50ms ease-out;
  letter-spacing: 3px;
}

.hmb-navLinkActive::after {
  width: 95% !important;
  transform: scale(1);
  opacity: 1 !important;
}

a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

a:hover::after {
  transform: scale(1)
}

.navLinkIcon {
  @extend .navLink;
}

.hmb-headerButtonContainer:hover .navLink {
  text-shadow: 0 3px 8px #000000;
}

#HBIcon {
  display: none;
  margin-left: 14px;
  padding-top: 7px;
  height: 84px;
}

#HBLogo {
  display: inline-block;
}

#hmb-logoBtn {
  width: 100%;
}

@media screen and (max-width: 420px) {
  #hmb-header {
    padding: 0px !important;
  }

  #hmb-header-container {
    padding: 0px !important;
  }
}

/* Less than or equal to 1000px */
@media screen and (max-width: 850px) {
  .hmb-headerButtonsRow {
    display: none !important;
  }

  #hmb-menuBars {
    display: flex;
  }

  .hmb-headerNavigation {
    justify-content: flex-end !important;
    width: 20% !important;
  }
}

@media screen and (max-width: 845px) {
  #hmb-logoNavLink {
    width: 80%;
    min-width: 270px !important;
  }
}

/* Greater than or equal to 1000px */
@media screen and (min-width: 850px) {
  #hmb-dropDownMenu {
    display: none;
  }
}

/* LOGO - Less than or equal to 975px */
@media screen and (max-width: 975px) {
  #HBIcon {
    display: inline-block;
  }

  #HBLogo {
    display: none;
  }

  #HBContainer {
    max-width: 100px;
  }
}