#satellite {
  width: 100vw;
  min-width: 1102px;
  position: absolute;
  max-width: 1782px;
  filter: blur();
}

#starsCanvas {
  min-width: 1102px;
  position: absolute;
  max-width: 1782px;
}

.comets {
  width: 100vw;
  min-width: 1102px;
  position: absolute;
  //   max-width: 1782px;
}

#spaceContainer {
  position: relative;
  margin-top: -72px;
  // display: flex;
  // z-index: 0;
  #spac-align {
    position: absolute;
  }
}
