//minWidth: '1102px', position: 'absolute', maxWidth: '1782px'

#satellite {
  min-width: 1102px;
  position: absolute;
  max-width: 1782px;
}

#starsCanvas {
  min-width: 1102px;
  position: absolute;
  max-width: 1782px;
}
