#hmb-satellite {
  width: 1782px;
  min-width: 1102px;
  position: absolute;
  max-width: 1782px;
  filter: blur();
}

#hmb-starsCanvas {
  min-width: 1102px;
  position: absolute;
  max-width: 1782px;
}

.hmb-comets {
  width: 1782px;
  min-width: 1102px;
  position: absolute;
  //   max-width: 1782px;
}

#hmb-spaceContainer {
  position: relative;
  margin-top: -72px;
}