// ===== Blue Panel
.bluePanel {
  color: white;
  width: 100%;
  min-width: 260px;
  margin: 0 auto;
  //   margin-right: auto;
  position: relative;
  padding: 1rem 1rem;
  font-size: 1em;
  line-height: 150%;
  background: linear-gradient(-45deg, rgb(0, 32, 48, 0.97), rgba(0, 92, 138, 0.97) 40%, rgba(0, 88, 133, 0.97) 65%, rgba(0, 32, 48, 0.97));
  border: 4px solid rgb(0, 31, 84);
  border-radius: 5px;
  min-height: 178px;
  min-width: 330px;
}

.bluePanel:after {
  content: '';
  position: absolute;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  border: 1px solid rgb(39, 186, 233);
  border-radius: 5px;
  box-shadow:
    inset 0 0 2px 1px rgb(39, 186, 233),
    0 0 3px 0 rgb(39, 186, 233);
  pointer-events: none;
}

.bluePanelExper {
  min-height: 50px !important;
}

// .modalBackdrop {
//   opacity: 0.5;
//   z-index: 1050;
//   background-color: #000000;
//   height: 100vh;
//   left: 0;
//   position: fixed;
//   top: 0;
//   width: 100vw;
//   transition: opacity 0.15s linear;
//   display: block;
// }

// ===== Modal
// .customModal {
//   width: 500px;
//   padding: 1rem;
//   height: 100%;
//   left: 0;
//   outline: 0;
//   overflow-x: hidden;
//   overflow-y: hidden;
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 1055;
//   display: flex;
//   // align-items: center;
//   justify-content: center;
//   padding-top: 75px;

// .modalDialog {
//   transform: none;
//   transition: transform 0.3s ease-out;
//   // margin: 7rem auto;
//   // max-width: 1244px;
//   pointer-events: none;
//   position: relative;
//   width: auto;
//   display: block;

// .modalContent {
//   display: flex;
//   flex-direction: column;
//   pointer-events: auto;
//   position: relative;
//   width: 100%;

.modal-header {
  border-bottom: 1.5px solid #ffffff;
  pointer-events: auto;
  display: flex;
  flex-shrink: 0;
}
// }

.modalTitle {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  pointer-events: auto;
  width: 100%;
  color: #ffaf19 !important;
  font-weight: bold;
}
.titleContent {
  display: flex;
  flex-direction: column;
}
.closeBtn {
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  border: none;
  font-size: 2em;
}
.closeBtn:hover {
  color: #ffaf19;
  font-weight: bold;
  text-shadow:
    2px 2px 3px #004669,
    2px 2px 5px #000000;
}
.snapshots {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: auto;
  .snapshot {
    width: 200px;
    cursor: pointer;
  }
}
// }

.clickBackdrop {
  width: 100vw;
  height: 100vh;
  position: absolute;
}
// }

.fade {
  transition: opacity 0.15s linear;
}

@media screen and (max-width: 1230px) {
  .modalDialog {
    min-width: 950px;
  }

  .imageDisplayContainer .portImageDisplay {
    height: auto;
    // width: 90%;
  }
}
