:root {
  --HMB-orange: #ffaf19;
}

body {
  background-color: #000;
  width: 100vw;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana, Geneva, sans-serif;
  letter-spacing: 1px;
}

#fullContainer {
  margin: 0 auto;
  position: relative;
  min-height: 633px;
  max-width: 1782px;
  width: 100vw;
  align-self: flex-end;
  display: flex;
  justify-content: center;
}

#pageContainer {
  z-index: 2;
  position: absolute;
  height: calc(100vh);
  width: 100vw;
  overflow-y: auto;
  max-width: 1782px;
  padding-top: 80px;
}
