body {
  background-color: #000;
  width: 100vw;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana, Geneva, sans-serif;
  letter-spacing: 1px;
}

#fullContainer {
  margin: 0 auto;
  position: relative;
  min-height: 633px;
  max-width: 1782px;
  width: 100vw;
  align-self: flex-end;
  display: flex;
  justify-content: center;
}

#pageContainer {
  z-index: 2;
  position: absolute;
  height: calc(100vh);
  width: 100vw;
  overflow-y: auto;
  max-width: 1782px;
  padding-top: 80px;
}

footer {
  background: linear-gradient(rgb(0 0 0 / 2%) 25%, rgb(0 0 0 / 79%)) 95%;
  padding: 0px 5px;
}

footer span {
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
  z-index: 3;
  position: relative;
}

footer span:hover {
  color: #ffaf19;
}
// height: 'calc(100vh - 96px', width: '100vw'
