:root {
  --HMB-orange: #ffaf19;
  --HB-blue-background: linear-gradient(-45deg, rgb(0, 32, 48, 0.95), rgba(0, 92, 138, 0.95) 40%, rgba(0, 88, 133, 0.95) 65%, rgba(0, 32, 48, 0.95));
}

body {
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
  width: 100vw;
  overflow: hidden;
  font-family: Verdana, Geneva, sans-serif;
  letter-spacing: 1px;
}

#hmb-fullContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-self: flex-end;
  margin: 0 auto;
  width: 100vw;
  max-width: 1782px;
  min-height: 633px;
}

#hmb-pageContainer {
  position: absolute;
  z-index: 2;
  padding-top: 80px;
  width: 100vw;
  max-width: 1782px;
  height: calc(100vh);
  overflow-y: auto;
}