:root {
  --HMB-orange: #ffaf19;
  --HMB-active-orange: #9d6c10;
  --HMB-blue-background: linear-gradient(-45deg, rgb(0, 32, 48, 0.95), rgba(0, 85, 138, 0.95) 40%, rgba(0, 85, 133, 0.95) 65%, rgba(0, 32, 48, 0.95));
}

body {
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
  overflow: hidden;
}

#hmb-fullContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-self: flex-end;
  margin: 0 auto;
  width: 100vw;
  max-width: 1782px;
  min-height: 633px;
}

#hmb-pageContainer {
  position: absolute;
  z-index: 2;
  padding-top: 80px;
  width: 100vw;
  max-width: 1782px;
  height: calc(100vh);
  overflow-y: auto;
}