// ===== Blue Panel
.hmb-bluePanel {
  position: relative;
  margin: 0 auto;
  border: 4px solid rgb(0, 31, 84);
  border-radius: 5px;
  background: var(--HB-blue-background);
  padding: 1rem 1rem;
  width: 100%;
  min-width: 330px;
  min-height: 178px;
  color: white;
  font-size: 1em;
  line-height: 150%;
}

.hmb-bluePanel:after {
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  box-shadow: inset 0 0 2px 1px rgb(39, 186, 233), 0 0 3px 0 rgb(39, 186, 233);
  border: 1px solid rgb(39, 186, 233);
  border-radius: 5px;
  pointer-events: none;
  content: '';
}

// ===== Modal
.hmb-modalContent {
  position: relative;
  padding-top: 1rem;
}

.hmb-modalTitle {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 8px 11px -8px #000000;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  pointer-events: auto;
  color: var(--HMB-orange) !important;
  font-weight: bold;
  line-height: 150%;
  text-shadow: 1px 1px 1px #000000;
  text-transform: uppercase;
}

.hmb-title2 {
  color: #ffffff;
  font-weight: normal;
  font-size: .9em;
  margin-bottom: .25rem;
  margin-left: 10px;
}

.hmb-titleContent {
  display: flex;
  flex-direction: column;
}

.hmb-closeBtn {
  border: none;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  font-size: 2em;
}

.hmb-closeBtn:hover {
  color: var(--HMB-orange);
  text-shadow: 2px 2px 3px #004669, 2px 2px 5px #000000;
}

.hmb-snapshots {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  overflow: auto;

  .snapshot {
    cursor: pointer;
    width: 200px;
  }
}

// ===== Collapsible Panel
.hmb-collapsiblePanel {
  position: relative;
  padding-top: 0px;
  width: 100%;
  min-height: 50px !important;
  color: #ffffff;
  font-size: 1em;
  line-height: 150%;
  border: 1.15px solid rgba(255, 255, 255, 0.4);
  border-bottom: none;
  border-right-color: #000000;

  button {
    border: none;
    background: none;
    padding-top: 15px;
    color: #ffffff;
    width: 100%;
    padding-right: 0px;
  }

  .hmb-headerGrid {
    display: grid;
    grid-template-columns: 10fr 1fr;
    border-bottom: 1.15px solid #000000;
    width: 100%;
    padding-bottom: 10px;

    .hmb-info {
      width: 100%;
    }

    .hmb-close {
      text-align: right;
      padding-right: 10px;
    }

    .hmb-downArrow {
      transition: rotate 0.25s ease-in-out;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .hmb-collapsibleContainer {
    transition: height 0.25s ease-in-out;
    height: auto;
    height: calc-size(auto, size);
    overflow-y: hidden;

    &--close {
      @extend .hmb-collapsibleContainer;
      border: none;
      height: 0px;
    }

    .hmb-collapsibleBody {
      display: flex;
      flex-flow: column;
      gap: 20px;
    }
  }
}

.hmb-collapsiblePanel:hover {
  button {
    background: rgb(27 27 27 / 25%) !important;
  }
}