// ===== Blue Panel
.hmb-bluePanel {
  position: relative;
  margin: 0 auto;
  border: 4px solid rgb(0, 31, 84);
  border-radius: 5px;
  background: var(--HMB-blue-background);
  padding: .5rem;
  width: 100%;
  min-width: 330px;
  min-height: 178px;
  color: white;
  font-size: 1em;
}

.hmb-bluePanel:after {
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  box-shadow: inset 0 0 2px 1px rgb(39, 186, 233), 0 0 3px 0 rgb(39, 186, 233);
  border: 1px solid rgb(39, 186, 233);
  border-radius: 5px;
  pointer-events: none;
  content: '';
}

// ===== Modal
.hmb-modalContent {
  position: relative;
  padding: 1rem .5rem 0 .5rem;
}

.hmb-modalTitle {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 8px 11px -8px #000000;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  pointer-events: auto;
  color: var(--HMB-orange) !important;
  font-weight: bold;
  line-height: 150%;
  text-shadow: 1px 1px 1px #000000;
  text-transform: uppercase;
}

.hmb-title2 {
  color: #ffffff;
  font-weight: normal;
  font-size: .9em;
  margin-bottom: .25rem;
  margin-left: 10px;
}

.hmb-titleContent {
  display: flex;
  flex-direction: column;
}

.hmb-closeBtn {
  border: none;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  font-size: 2em;
  transition: all 100ms ease-out;
  height: 40px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.hmb-closeBtn:hover {
  color: var(--HMB-orange);
  text-shadow: 2px 2px 3px #004669, 2px 2px 5px #000000;
}

.hmb-closeBtn:active {
  color: var(--HMB-active-orange);
  text-shadow: 2px 2px 3px #012b40, 2px 2px 5px #000000;
}

.hmb-snapshots {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  overflow: auto;
  justify-content: center;

  .snapshot {
    cursor: pointer;
    width: 200px;
  }
}

// ===== Collapsible Panel
.hmb-collapsiblePanel {
  position: relative;
  padding-top: 0px;
  width: 100%;
  min-height: 50px !important;
  color: #ffffff;
  font-size: 1em;
  line-height: 150%;
  border: 1.15px solid rgba(255, 255, 255, 0.4);
  border-bottom: none;
  border-right-color: #000000;

  .hmb-button {
    border: none;
    background: none;
    padding-top: 15px;
    color: #ffffff;
    width: 100%;
    padding-right: 0px;
  }

  .hmb-button:hover {
    background-color: initial;
    color: initial;
  }

  .hmb-button-selected {
    @extend .hmb-button;
    background: rgba(27, 27, 27, 0.25);
  }

  .hmb-Buttons {
    transition: background-color 0.20s linear;
  }

  .hmb-headerGrid {
    display: grid;
    grid-template-columns: 20fr 1fr;
    border-bottom: 1.15px solid #000000;
    width: 100%;
    padding-bottom: 10px;

    .hmb-info {
      width: 100%;
    }

    .hmb-close {
      margin-left: auto;
      margin-right: auto;
    }

    .hmb-downArrow {
      transition: rotate 0.35s ease-in-out;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .hmb-collapsibleContainer {
    transition: height 0.35s ease-in-out;
    height: auto;
    height: calc-size(auto, size);
    overflow-y: hidden;

    &--close {
      @extend .hmb-collapsibleContainer;
      border: none;
      height: 0px;
    }

    .hmb-collapsibleBody {
      display: flex;
      flex-flow: column;
      gap: 20px;
    }
  }
}

.hmb-collapsiblePanel:hover {
  button {
    background: rgb(27 27 27 / 25%) !important;
  }
}

.hmb-Switch {
  display: inline-flex;
  width: 58px;
  height: 38px;
  overflow: hidden;
  padding: 12px;
  box-sizing: border-box;
  position: relative;

  .hmb-Switch-base {
    color: #1976d2;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    position: relative;
    left: -5px;

    .hmb-Switch-input {
      left: -100%;
      width: 300%;
      position: absolute;
      opacity: 0;
      height: 100%;
      top: 0px;
      margin: 0px;
      padding: 0px;
      z-index: 1;
      display: inline-block;
      cursor: pointer;
    }

    .hmb-Switch-thumb {
      background-color: var(--HMB-orange);
      border: 1px solid #035883;
      width: 20px;
      height: 20px;
      border-radius: 25%;
      display: block;
      cursor: pointer;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12)
    }

    .hmb-Switch-thumb-off {
      @extend .hmb-Switch-thumb;
      background-color: #ffffff;
    }
  }

  .hmb-Switch-base-on {
    transform: translate(20px);
    left: 0px;
  }

  .hmb-Switch-track {
    background-color: #ffffff80;
    height: 14px;
    width: 34px;
    z-index: -1;
    border-radius: 3px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: absolute;
    box-shadow: inset 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      inset 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      inset 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }

  .hmb-Switch-track-off {
    @extend .hmb-Switch-track;
    background-color: #00000082;
  }
}