// ===== Blue Panel
.hmb-bluePanel {
  color: white;
  width: 100%;
  min-width: 260px;
  margin: 0 auto;
  position: relative;
  padding: 1rem 1rem;
  font-size: 1em;
  line-height: 150%;
  background: linear-gradient(-45deg, rgb(0, 32, 48, 0.97), rgba(0, 92, 138, 0.97) 40%, rgba(0, 88, 133, 0.97) 65%, rgba(0, 32, 48, 0.97));
  border: 4px solid rgb(0, 31, 84);
  border-radius: 5px;
  min-height: 178px;
  min-width: 330px;
}

.hmb-bluePanel:after {
  content: '';
  position: absolute;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  border: 1px solid rgb(39, 186, 233);
  border-radius: 5px;
  box-shadow:
    inset 0 0 2px 1px rgb(39, 186, 233),
    0 0 3px 0 rgb(39, 186, 233);
  pointer-events: none;
}

// ===== Modal
.hmb-modalContent {
  position: relative;
  padding: 1rem;
}

.hmb-modalTitle {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  pointer-events: auto;
  width: 100%;
  color: var(--HMB-orange) !important;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
  border-bottom: 1px solid #ffffff;
  box-shadow: 0px 8px 11px -8px #000000;
  line-height: 150%;
  text-transform: uppercase;
}
.hmb-titleContent {
  display: flex;
  flex-direction: column;
}
.hmb-closeBtn {
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  border: none;
  font-size: 2em;
}
.hmb-closeBtn:hover {
  color: var(--HMB-orange);
  // font-weight: bold;
  text-shadow:
    2px 2px 3px #004669,
    2px 2px 5px #000000;
}
.hmb-snapshots {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: auto;
  .snapshot {
    width: 200px;
    cursor: pointer;
  }
}

// ===== Collapsible Panel
.hmb-collapsiblePanel {
  color: #ffffff;
  min-height: 50px !important;
  padding-top: 0px;

  button {
    color: #ffffff;
    background: none;
    border: none;
    padding-top: 10px;
  }

  .hmb-headerGrid {
    display: grid;
    grid-template-columns: 10fr 1fr;
    width: 100%;
    border-bottom: 1px solid #ffffff;

    .hmb-info {
      width: 100%;
    }
    .hmb-close {
      text-align: right;
    }

    .hmb-downArrow {
      width: 1.5rem;
      height: 1.5rem;
      transition: rotate 0.25s ease-in-out;
    }
  }

  .hmb-collapsibleContainer {
    margin-top: 15px;
    overflow-y: hidden;
    height: auto;
    height: calc-size(auto, size);
    transition: height 0.25s ease-in-out;

    &--close {
      @extend .hmb-collapsibleContainer;
      border: none;
      height: 0px;
    }

    .hmb-collapsibleBody {
      display: flex;
      flex-flow: column;
      gap: 20px;
    }
  }
}

// @media screen and (max-width: 1230px) {
//   .imageDisplayContainer .portImageDisplay {
//     height: auto;
//   }
// }
